In [1]:
#import customer_view
#import review_feature
from product_view import ProductView
from classification_info import ClassificationInfo

In [2]:
# API to get all features of product of given category
def get_product_feature_in_category(category, **kwargs):
    classinfo = ClassificationInfo()
    pv = ProductView()
    nodes = classinfo.get_nodes_by_category(category, id=True)
    strnodes = ', '.join(["'{}'".format(n) for n in nodes])
    condition = "category in ({})".format(strnodes)
    return pv.get_product_view(limit=10, where=condition, **kwargs)

In [3]:
result = get_product_feature_in_category(['Education'])
result

,productid,category,total_review_count,total_copy_count,fullprice,avg_review_rating,isinstock,total_order_count
0,11755,12329,1,1,$495.00,4.000000,Y,1
1,11754,7288554011,1,5,$195.00,5.000000,Y,6
2,11756,7288555011,47,2,$451.00,3.702128,Y,2
3,11752,172800,1,3,$175.00,5.000000,Y,3
4,11753,7288553011,76,2,$340.00,3.907895,Y,3

In [ ]:
result = get_product_feature_in_category(['Architecture', ''])
result