In [28]:
from dora.api import DataExplorer

import pandas as pd
import matplotlib.pyplot as plt
from datetime import date, timedelta

explorer = DataExplorer()

In [26]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
response = explorer.products.clusterQuery()

.cache/d8c66f73b4437bb6211457018d5b619fab81556c

In [3]:
type(response.columns)

list

In [4]:
data=pd.DataFrame(response.results)

In [5]:
data.columns=response.columns

In [6]:
data.columns

Index(['productid', 'asin', 'num_orders', 'avgrating', 'category',
       'days_on_sale'],
      dtype='object')

In [7]:
X=data[['num_orders','avgrating','category','days_on_sale']].values

In [10]:
X=StandardScaler().fit_transform(X)

/Users/laurawilke/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, _DataConversionWarning)

In [13]:
algorithm=KMeans(n_clusters=2, algorithm='auto',init='k-means++')
algorithm.fit_predict(X)
y_pred=algorithm.labels_

In [14]:
prodid=data[['productid']]

In [22]:
prodid['y_pred']=y_pred

/Users/laurawilke/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
prodid

      productid  y_pred
0         10001       0
1         10002       0
2         10003       0
3         10004       0
4         10005       0
5         10006       0
6         10007       0
7         10008       0
8         10009       1
9         10010       0
10        10011       0
11        10012       0
12        10013       0
13        10014       0
14        10015       0
15        10016       0
16        10017       1
17        10018       1
18        10019       0
19        10020       0
20        10021       0
21        10022       1
22        10023       0
23        10024       1
24        10025       0
25        10026       0
26        10027       0
27        10028       1
28        10029       1
29        10030       0
...         ...     ...
3958      14006       1
3959      14007       1
3960      14008       1
3961      14010       0
3962      14011       1
3963      14012       0
3964      14013       0
3965      14015       1
3966      14018       1
3967      14019       1
3968      14020       1
3969      14021       1
3970      14022       1
3971      14023       1
3972      14024       1
3973      14025       1
3974      14026       1
3975      14027       0
3976      14028       0
3977      14029       0
3978      14030       1
3979      14031       0
3980      14032       0
3981      14033       0
3982      14034       1
3983      14035       0
3984      14036       0
3985      14037       0
3986      14038       1
3987      14039       0

[3988 rows x 2 columns]

AttributeError: 'DataExplorer' object has no attribute 'customers'