In [1]:
#Import API
from dora.api import DataExplorer

import pandas as pd
from datetime import date, timedelta, datetime
from matplotlib import pyplot
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from uszipcode import ZipcodeSearchEngine
import numpy as np

import random
import time
from sklearn.model_selection import KFold
import json
import sys

explorer = DataExplorer()

In [3]:
def custPerCluster(df):
    fig=plt.figure()
    maxn=df['cluster'].max()
    plt.hist(df['cluster'].values)
    plt.xlabel('Clusters')
    plt.ylabel('# of Customers')
    plt.xticks(range(0,maxn+1))
    plt.title('Number of Customers per Cluster')
    return fig

In [4]:
def clusterDist(df):
    maxn=df['cluster'].max()
    clusterStats=pd.DataFrame()
    for i in range(maxn+1):
        mask=(df['cluster']==i)
        t=df.loc[mask]
        clusterStats.loc[i,'avgNumOrders']=t['numorders'].mean()
        clusterStats.loc[i,'avgTotalSpent']=t['totalspent'].mean()
        clusterStats.loc[i,'numHouseholds']=t['householdid'].nunique()
        clusterStats.loc[i,'numZipcoes']=t['zipcode'].nunique()
        clusterStats.loc[i,'avgTotalPopMales']=t['totalmales'].mean()
        clusterStats.loc[i,'avgTotalPopFemales']=t['totalfemales'].mean()
        clusterStats.loc[i,'avgTotalPop']=t['totalpop'].mean()
        clusterStats.loc[i,'medianAge']=t['medianage'].median()
    return clusterStats

In [5]:
def clusterZips(df):
    maxn=df['cluster'].max()
    search = ZipcodeSearchEngine()
    zipstates={}
    zipcities={}
    for i in range(maxn+1):
        #print ("Cluster "+str(i))
        states=set()
        cities=set()
        mask=(df['cluster']==i)
        t=df[['zipcode','cluster']].loc[mask]
        zipcodes=t['zipcode'].unique()
        for j in range(len(zipcodes)):
            city=search.by_zipcode(str(zipcodes[j]))
            cities.add(city['City'])
            states.add(city['State'])
        zipstates.update({i:states})
        zipcities.update({i:cities})
    return zipstates, zipcities

statsByCustomer Query

In [6]:
statsByCust=explorer.customers.statsByCustomer()
statsByCustomer=pd.DataFrame(statsByCust.results, columns=statsByCust.columns)
statsByCustomer.head()

,customermatchedid,numorders,gender,zipcode,totalpop,medianage,totalmales,totalfemales,totalspent,householdid,firstname,numcustomerid
0,37917,412,0,10036,22413,38.8,12687,9726,606.25,19885296,MIKE,412
1,37907,189,1,10036,22413,38.8,12687,9726,651.59,19885296,HILDA,189
2,140299,99,0,10036,22413,38.8,12687,9726,0.00,49927024,MIKE,99
3,37901,99,2,10036,22413,38.8,12687,9726,2226.32,19885296,,99
4,140298,70,0,10036,22413,38.8,12687,9726,0.00,49927024,JIM,70

Use the API to get 10 clusters of customers. Bad zipcodes have been removed from the dataset. Customers with no gender assigned are within the dataset of customers to be clustered. A specified feature_set is not defined by the user, neither are the features that will be used for the clustering. In this case, the feature_set will be the data from statsByCustomer and the features will be [numOrders, gender, totalpop, totalspent].

In [7]:
#Get 10 clusters and print out the head of the dataframe
cCluster=explorer.customers.clusterCustomers(n_clusters=10)

In [8]:
#Lists the columns of the cCluster
cCluster.columns

array(['numorders', 'gender', 'totalpop', 'totalspent', 'zipcode',
       'medianage', 'totalmales', 'totalfemales', 'customermatchedid',
       'householdid', 'firstname', 'numcustomerid', 'cluster',
       'customerids'], dtype=object)

Cluster the customers but remove certain householdids. Specifiy the features that will be used in the clustering.

In [13]:
#Elimate householdids from the data that will be clustered
response=explorer.customers.statsByCustomer(householdid=['19885296','49927024'])

In [15]:
#Cluster the results by customer
cCluster_rmHID=explorer.customers.clusterCustomers(feature_set=response, n_clusters=7, 
                                                   cluster_on=['medianage','totalmales','totalfemales','totalpop'])

In [16]:
#Get cluster stats
df=pd.DataFrame(cCluster_rmHID.results, columns=cCluster_rmHID.columns )
stats=clusterDist(df)
stats

,avgNumOrders,avgTotalSpent,numHouseholds,numZipcoes,avgTotalPopMales,avgTotalPopFemales,avgTotalPop,medianAge
0,1.188981,82.633711,36335.0,6977.0,9105.157723,9626.420413,18731.578137,41.3
1,1.200593,84.174745,10103.0,3821.0,30494.867450,33519.575997,64014.443447,38.3
2,1.213033,82.741326,3021.0,1798.0,42834.013848,48141.761292,90975.775140,37.7
3,1.192670,84.374738,24242.0,5864.0,19057.873589,20451.975210,39509.848800,39.0
4,1.180241,85.926228,30588.0,6572.0,3800.963022,3933.220112,7734.183134,43.0
5,1.191487,81.711357,35394.0,6929.0,13864.119790,14798.973879,28663.093669,40.0
6,1.192734,84.545345,14236.0,4647.0,24449.884134,26162.323893,50612.208027,36.3

In [17]:
cCluster_rmHID.columns

array(['medianage', 'totalmales', 'totalfemales', 'totalpop',
       'customermatchedid', 'numorders', 'gender', 'zipcode', 'totalspent',
       'householdid', 'firstname', 'numcustomerid', 'cluster',
       'customerids'], dtype=object)

In [98]:
df[(df['cluster']==1)]

,medianage,totalmales,totalfemales,totalpop,customermatchedid,numorders,gender,zipcode,totalspent,householdid,firstname,numcustomerid,cluster,customerids
4,42.0,31484.0,38261.0,69745.0,32345.0,17.0,0.0,44122,3757.26,19626230.0,JEROME,17.0,1,"(78833, 78839, 78837, 78838, 78836, 78844, 788..."
21,38.9,25949.0,33494.0,59443.0,140553.0,12.0,0.0,10301,319.95,50072776.0,ROBERT,12.0,1,"(13505, 13506, 13503, 13498, 13497, 13499, 134..."
32,39.4,30654.0,32510.0,63164.0,126164.0,11.0,0.0,18017,5253.00,36419822.0,STEPHEN,11.0,1,"(137696, 137697, 137695, 137694, 137693, 13770..."
37,38.1,34128.0,38306.0,72434.0,108633.0,10.0,0.0,17870,286.64,36201352.0,ROBERT,10.0,1,"(108363, 108366, 108367, 108365, 108368, 10836..."
58,35.9,27314.0,34539.0,61853.0,16104.0,9.0,0.0,21210,1927.50,18861947.0,GEORGE,9.0,1,"(63024, 63025, 63023, 63022, 63027, 63026, 630..."
107,39.6,31390.0,37981.0,69371.0,143961.0,8.0,1.0,10036,372.12,52160470.0,EDITH,8.0,1,"(172433, 172440, 172439, 172436, 172435, 17243..."
126,38.9,25949.0,33494.0,59443.0,16708.0,7.0,0.0,33463,336.53,18892135.0,ROBERT,7.0,1,"(16353, 16355, 16354, 16359, 16358, 16357, 16356)"
130,41.5,27848.0,31143.0,58991.0,18008.0,7.0,0.0,20016,643.92,18949555.0,JULES,7.0,1,"(47079, 47081, 47084, 47082, 47083, 47078, 47080)"
131,42.0,31484.0,38261.0,69745.0,45153.0,7.0,1.0,10024,2580.00,20235435.0,BARBARA,7.0,1,"(40626, 40629, 40627, 40625, 40623, 40624, 406..."
148,41.2,28799.0,31648.0,60447.0,22882.0,7.0,2.0,48215,385.98,19190028.0,N.,7.0,1,"(47320, 47322, 47318, 47319, 47317, 47321, 47323)"
178,42.0,31484.0,38261.0,69745.0,39902.0,7.0,1.0,10021,313.40,19986151.0,JOAN,7.0,1,"(6742, 6743, 6740, 6741, 6746, 6745, 6744)"
181,39.4,30654.0,32510.0,63164.0,28932.0,7.0,0.0,11554,149.70,19470705.0,WILLIAM,7.0,1,"(46317, 46319, 46318, 46316, 46322, 46320, 46321)"
211,41.5,27848.0,31143.0,58991.0,90178.0,7.0,0.0,44301,259.87,36182823.0,BERNARD,7.0,1,"(89798, 89800, 89801, 89797, 89799, 89803, 89802)"
213,37.1,28506.0,30199.0,58705.0,150269.0,7.0,1.0,10024,316.65,55700813.0,DIANNE,7.0,1,"(179893, 179897, 179896, 179895, 179894, 17989..."
229,39.4,30654.0,32510.0,63164.0,525.0,6.0,0.0,22182,124.55,18138027.0,JAMES,6.0,1,"(48323, 48322, 48320, 48319, 48318, 48321)"
234,35.3,35560.0,35734.0,71294.0,31325.0,6.0,0.0,8690,166.35,19581446.0,DAVID,6.0,1,"(14617, 14622, 14620, 14619, 14618, 14621)"
254,35.8,26592.0,31112.0,57704.0,60304.0,6.0,0.0,6820,109.75,20958356.0,JOHN,6.0,1,"(17189, 17187, 17185, 17186, 17190, 17188)"
274,41.5,27848.0,31143.0,58991.0,45226.0,6.0,0.0,10532,968.83,20239320.0,THOMAS,6.0,1,"(172720, 172723, 9505, 9506, 172722, 172721)"
279,34.3,30405.0,30971.0,61376.0,5796.0,6.0,0.0,91105,890.50,18386159.0,PETER,6.0,1,"(51894, 51895, 51891, 51890, 51893, 51892)"
283,33.7,32915.0,32902.0,65817.0,11940.0,6.0,1.0,27312,265.65,18670235.0,BUFORD,6.0,1,"(159492, 159490, 159488, 159489, 159491, 159493)"
289,37.0,29359.0,33038.0,62397.0,24414.0,6.0,1.0,10025,214.88,19255401.0,MARILYN,6.0,1,"(1849, 1850, 1848, 1846, 1845, 1847)"
293,38.3,31598.0,31259.0,62857.0,6243.0,6.0,0.0,7452,2687.00,18407038.0,JAMES,6.0,1,"(2977, 2978, 2976, 2975, 2973, 2974)"
298,34.9,30564.0,28117.0,58681.0,105215.0,6.0,0.0,60565,140.32,36197918.0,MORRIS,6.0,1,"(109253, 109252, 109254, 109249, 109251, 109250)"
302,40.4,30541.0,30595.0,61136.0,59114.0,6.0,0.0,85705,732.95,20907555.0,KENNY,6.0,1,"(46026, 46022, 46021, 46025, 46024, 46023)"
310,30.7,29969.0,29173.0,59142.0,114599.0,6.0,0.0,52333,335.32,36207330.0,DONALD,6.0,1,"(72797, 72799, 72794, 72795, 72796, 72798)"
320,42.0,31484.0,38261.0,69745.0,56156.0,6.0,2.0,94510,160.65,20768762.0,BRANTLEY,6.0,1,"(29616, 29619, 29620, 29617, 29615, 29618)"
333,38.9,25949.0,33494.0,59443.0,48147.0,6.0,1.0,7921,815.22,20377330.0,DIANE,6.0,1,"(13490, 13489, 13491, 13494, 13493, 13492)"
346,28.1,29388.0,29745.0,59133.0,47779.0,6.0,0.0,78717,145.45,20358861.0,GLENN,6.0,1,"(42931, 42933, 42934, 42929, 42930, 42932)"
361,41.2,28799.0,31648.0,60447.0,26698.0,6.0,1.0,19063,91.40,19363827.0,HELEN,6.0,1,"(43532, 43534, 43533, 43530, 43531, 43535)"
367,41.2,28799.0,31648.0,60447.0,41722.0,6.0,0.0,7012,153.20,20076548.0,ED,6.0,1,"(10485, 10482, 10483, 10484, 10486, 10487)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154388,26.3,31590.0,32804.0,64394.0,16037.0,1.0,0.0,11557,127.92,18859391.0,OLIVER,1.0,1,"(8255,)"
154395,35.3,35560.0,35734.0,71294.0,2005.0,1.0,1.0,6070,26.00,18216183.0,NANCY,1.0,1,"(35205,)"
154398,37.7,31825.0,32807.0,64632.0,2006.0,1.0,0.0,6798,13.50,18216187.0,RICHARD,1.0,1,"(27629,)"
154407,34.1,32141.0,35054.0,67195.0,8024.0,1.0,0.0,20910,34.95,18491017.0,JOSEPH,1.0,1,"(30103,)"
154455,38.9,25949.0,33494.0,59443.0,16071.0,1.0,0.0,10804,0.00,18860574.0,CLIF,1.0,1,"(58673,)"
154456,38.9,25949.0,33494.0,59443.0,8037.0,1.0,0.0,75214,62.30,18491746.0,JOHN,1.0,1,"(51065,)"
154458,32.9,36743.0,37828.0,74571.0,16073.0,1.0,0.0,8824,18.50,18860671.0,LAWRENCE,1.0,1,"(30248,)"
154460,41.5,27848.0,31143.0,58991.0,26644.0,1.0,0.0,92104,337.50,19360949.0,NEIL,1.0,1,"(56402,)"
154467,32.5,30268.0,37393.0,67661.0,23861.0,1.0,1.0,10019,27.31,19229911.0,TOSHIKO,1.0,1,"(164121,)"
154495,34.7,29984.0,34057.0,64041.0,16090.0,1.0,1.0,6460,34.10,18861314.0,KATHERINE,1.0,1,"(39160,)"
154502,38.0,30148.0,32835.0,62983.0,16094.0,1.0,1.0,10583,40.45,18861552.0,MIA,1.0,1,"(69391,)"
154531,38.9,25949.0,33494.0,59443.0,16109.0,1.0,0.0,6810,59.30,18862022.0,LAURENCE,1.0,1,"(137,)"
154537,42.0,31484.0,38261.0,69745.0,16112.0,1.0,1.0,10605,173.55,18862083.0,MARIAN,1.0,1,"(129404,)"
154543,42.0,31484.0,38261.0,69745.0,16115.0,1.0,1.0,10309,14.35,18862178.0,SHARI,1.0,1,"(65634,)"
154556,38.9,36099.0,37152.0,73251.0,2016.0,1.0,1.0,11215,28.00,18216653.0,IRENE,1.0,1,"(11939,)"
154576,28.9,34813.0,34914.0,69727.0,16132.0,1.0,0.0,19072,22.50,18862940.0,STEVEN,1.0,1,"(49484,)"
154589,34.0,29996.0,32400.0,62396.0,24570.0,1.0,1.0,4107,30.00,19263945.0,ELIZABETH,1.0,1,"(67063,)"
154591,30.4,33308.0,34972.0,68280.0,4031.0,1.0,0.0,32789,175.00,18309964.0,HARRY,1.0,1,"(98773,)"
154614,37.0,29359.0,33038.0,62397.0,16150.0,1.0,1.0,12572,27.00,18864203.0,KATHY,1.0,1,"(63378,)"
154626,39.4,33478.0,33812.0,67290.0,16156.0,1.0,1.0,7208,10.00,18864434.0,DOLORES,1.0,1,"(127930,)"
154629,32.9,36743.0,37828.0,74571.0,2020.0,1.0,0.0,7751,49.90,18216724.0,HERB,1.0,1,"(46432,)"
154650,38.9,25949.0,33494.0,59443.0,26669.0,1.0,0.0,55110,9.85,19362343.0,BOB,1.0,1,"(63216,)"
154653,32.9,36743.0,37828.0,74571.0,4039.0,1.0,0.0,33704,28.70,18310344.0,LLOYD,1.0,1,"(42074,)"
154658,38.9,25949.0,33494.0,59443.0,16172.0,1.0,1.0,21044,26.95,18865283.0,KAREN,1.0,1,"(42261,)"
154667,41.5,27848.0,31143.0,58991.0,24568.0,1.0,0.0,7040,173.55,19263803.0,MICHAEL,1.0,1,"(83790,)"
154678,35.4,30361.0,30621.0,60982.0,16183.0,1.0,0.0,7762,30.00,18865663.0,NICHOLAS,1.0,1,"(95544,)"
154680,35.4,30361.0,30621.0,60982.0,16184.0,1.0,1.0,17112,16.89,18865731.0,STEPHANIE,1.0,1,"(61676,)"
154701,42.0,31484.0,38261.0,69745.0,8192.0,1.0,1.0,80203,23.35,18500738.0,LILLIAN,1.0,1,"(61152,)"
154716,35.4,30361.0,30621.0,60982.0,16369.0,1.0,0.0,11226,59.35,18875911.0,LARRY,1.0,1,"(23692,)"
154724,36.6,29362.0,29606.0,58968.0,16361.0,1.0,0.0,15213,6.29,18875706.0,ALEX,1.0,1,"(54860,)"

In [19]:
# Create co-occurrence matrix

def create_cocmatrix(subset_matrix_cust_order):
    rows, cols = subset_matrix_cust_order.shape
    m = np.zeros((cols,cols))
    
    for i in range(cols):
        t = np.sum(subset_matrix_cust_order[subset_matrix_cust_order[:,i] > 0],axis=0)
        t[i] = 0
        m[i,:] = t
                    
    return m

In [20]:
def create_seed(rand):
    np.random.seed(rand) # create seed for repeatable results

In [21]:
# generate recommendations
# purchase_vec = customer purchases (vector)
# cocm = co occurrence matrix [items x items]
# num_rec = number of recommendations
def gen_recom(purchase_list,cocm,num_rec):
    rowsum = np.zeros(cocm.shape[0])
    
    for p in purchase_list:
        rowsum += cocm[p,:]
        
    rowsum[purchase_list] = 0
    indices = np.nonzero(rowsum)[0]
    toprec = indices[np.argsort(rowsum[indices])][-1 * num_rec:][::-1]
    return toprec

In [22]:
def get_indices(dataset, col, var=None):
    if var is None:
        return [y for y, x in enumerate(dataset[:,col])] # all
    
    return [y for y, x in enumerate(dataset[:,col]) if x == var]

In [23]:
def check_idx_size(idxlist,maximum_rows):
    if len(idxlist) > maximum_rows:
        return np.random.choice(idxlist, maximum_rows, replace=False)
    
    return idxlist

In [24]:
# customer to order lookup
matrix_co = np.load('cust_item_matrix.npy')
print ("created customer to order lookup")

matrix_co.shape

created customer to order lookup

(189559, 3990)

In [25]:
custlist = np.load('custids.npy')
print ("created customer id lookup")

custlist.shape

created customer id lookup

(189559,)

In [26]:
unique_clusters = sorted(df['cluster'].unique())
print (unique_clusters)

[0, 1, 2, 3, 4, 5, 6]

In [27]:
# bring in customerids to map with cluster ids
arr_cxd = np.zeros((custlist.shape[0],1))

In [28]:
arr_cxd.shape

(189559, 1)

In [110]:
# mapping cluster ids
for i in range(df.shape[0]):
    try:
        if len(df.loc[i,'customerids']) > 0:       
            for c in df.loc[i,'customerids']:
                idx = np.where(custlist==c)
                cid = df.loc[i,'cluster']
                arr_cxd[idx] = cid+1 # increment by 1 so we can reserve 0 for customers with no cluster id
    except:
        continue

In [57]:
maxn=df['cluster'].max()
print (maxn)

6

In [111]:
clusternames = dict()
for i in range(arr_cxd.shape[0]):    
    if arr_cxd[i][0] in clusternames:
        clusternames[arr_cxd[i][0]]+=1
        continue
        
    clusternames.update({arr_cxd[i][0]:0})
    
clusternames

{0.0: 5720,
 1.0: 43367,
 2.0: 12176,
 3.0: 3674,
 4.0: 29019,
 5.0: 36254,
 6.0: 42349,
 7.0: 16992}

In [58]:
unique_clusters = unique_clusters + [maxn+1]
print (unique_clusters)

[0, 1, 2, 3, 4, 5, 6, 7]

In [112]:
#80/20, 80 for 10-fold cross validation, 20 for test set holdout
create_seed(0)
indices = np.random.permutation(matrix_co.shape[0])
tsize = int(matrix_co.shape[0]*.8)

In [113]:
# customer to order matrix
matrix_co_training_idx, matrix_co_testing_idx  = indices[:tsize], indices[tsize:]
matrix_co_training, matrix_co_testing = matrix_co[matrix_co_training_idx,:], matrix_co[matrix_co_testing_idx,:]

In [114]:
# demo matrix
arr_cxd_training_idx, arr_cxd_testing_idx = indices[:tsize], indices[tsize:]
arr_cxd_training, arr_cxd_testing = arr_cxd[arr_cxd_training_idx,:], arr_cxd[arr_cxd_testing_idx,:]

In [115]:
matrix_co_training.shape, arr_cxd_training.shape, matrix_co.shape, arr_cxd.shape

((151647, 3990), (151647, 1), (189559, 3990), (189559, 1))

In [116]:
# put matrixes in to get cross validation recall
# generate recommendations
# mco = matrix of customer to order [customer x items]
# num_rec = number of recommendations
# num_folds = k number of folds for cross validation
# recall_remove = removed number from purchase history
def collab_recall_validation_tester(mco,num_rec,num_folds,recall_remove):
    # cross validation n-folds
    start_time = time.time()
    kf = KFold(n_splits=num_folds)
    list_total_acc=[]
    k_index = 0
    
    for train, test in kf.split(mco):
        print("start new k={0},train set={1},validation set={2}".format(k_index,mco[train].shape[0],mco[test].shape[0]))
        
        list_sub_acc = []
        # build co-occurrence matrix
        coo_matrix = create_cocmatrix(mco[train])

        # loop through test set
        # for each customer in test pool
        for i in range(mco[test].shape[0]):
            
            p_vec = mco[test][i,:]
            list_original_purchases = np.where(p_vec > 0)[0]
            # only run tests on customers with > recall_remove purchases for prediction
            if len(list_original_purchases) > recall_remove:
                # randomly select indexes to leave out
                list_removed_purchases = random.sample(list(list_original_purchases),recall_remove)
                # remove
                list_modified_purchases = list(set(list_original_purchases) - set(list_removed_purchases))
                # get sum all purchases except ones left out
                list_summed_coo_vec = gen_recom(list_modified_purchases,coo_matrix,num_rec)
                # check if return recommendations are in list
                list_recommended_match = set(list_removed_purchases) & set(list_summed_coo_vec)
                acc = len(list_recommended_match)/float(len(list_removed_purchases))
                list_sub_acc.append(acc)
                
        mean_sub_acc = np.mean(list_sub_acc)
        print ("** number of elements in calculation {0}".format(len(list_sub_acc)))
        #print list_sub_acc
        print ("** average fold accuracy {0}".format(mean_sub_acc))
        list_total_acc.append(mean_sub_acc)
        k_index += 1
        print ("**time elapsed {0}".format((time.time() - start_time)))
        print ("------------------------------------end")
        
    print ("list of total accuracy for each fold {0}".format(list_total_acc))
    average = np.mean(list_total_acc)
    print ("{0}-fold total average {1}".format(num_folds,average))
    print ("time elapsed {0}".format((time.time() - start_time)))
    return average

In [117]:
# put matrixes in to get cross validation coverage
# generate recommendations
# mco = matrix of customer to order [customer x items]
# num_rec = number of recommendations
# num_folds = k number of folds for cross validation
# recall_remove = removed number from purchase history
# list_catid = category customer is interested in
def collab_catalog_validation_tester(mco,num_rec,num_folds,recall_remove):
    # cross validation n-folds
    start_time = time.time()
    kf = KFold(n_splits=num_folds)
    list_total_coverage=[]
    k_index = 0
    
    for train, test in kf.split(mco):
        set_products = set()
        # build co-occurrence matrix
        print("start new k={0},train set={1},validation set={2}".format(k_index,mco[train].shape[0],mco[test].shape[0]))
        coo_matrix = create_cocmatrix(mco[train])

        # loop through test set
        # for each customer in test pool
        for i in range(mco[test].shape[0]):
            # purchase vector
            p_vec = mco[test][i,:]
            list_original_purchases = np.where(p_vec > 0)[0]
            # get sum all purchases
            list_summed_coo_vec = gen_recom(list_original_purchases,coo_matrix,num_rec)    
            set_products = set_products | set(list_summed_coo_vec)
                        
        mean_sub_cov = float(len(set_products))/p_vec.shape[0]
        print ("**length fold set {0}".format(float(len(set_products))))
        print ("**average fold coverage {0}".format(mean_sub_cov))
        list_total_coverage.append(mean_sub_cov)
        k_index += 1
        print ("**time elapsed {0}".format((time.time() - start_time)))
        print ("------------------------------------end")
    
    print ("list of total coverage for each fold {0}".format(list_total_coverage))
    average = np.mean(list_total_coverage)
    print ("{0}-fold total average {1}".format(num_folds,average))
    print ("time elapsed {0}".format((time.time() - start_time)))
    return average

In [118]:
def demo_filter(mco,mdo,clusters,maximum_rows,minimum_rows,num_rec,num_folds,recall_remove):
    accuracy = []
    coverage = []
    
    for c in clusters:
        #if r == 0: # 0 means not found in the cluster
        #    ridx = get_indices(mdo, 0) # use all regions
        #else:   
        cidx = get_indices(mdo, 0, c) # look for cluster in col 0

        if len(cidx) == 0:
            print ("cluster: {0} not found".format(c))
            continue

        if len(cidx) < minimum_rows:
            print ("too little data with cluster {0} found".format(c))
            continue

        cidx = check_idx_size(cidx,maximum_rows) # limit size
        print ("\ncluster: {0}, size: {1}, {2}".format(c, len(cidx), len(mco)))
                             
        total_accuracy = collab_recall_validation_tester(mco[cidx],num_rec,num_folds,recall_remove)
        accuracy.append((c,mco[cidx].shape[0],total_accuracy))
        total_coverage = collab_catalog_validation_tester(mco[cidx],num_rec,num_folds,recall_remove)
        coverage.append((c,mco[cidx].shape[0],total_coverage))
        
    return accuracy, coverage

In [119]:
# General test
seed = 0
create_seed(seed)
maximum_rows = 25000
minimum_rows = 1000

# test set
#randidx = np.random.choice(matrix_co_training.shape[0], 10000, replace=False)
#demo_results = demo_filter(matrix_co_training[randidx],arr_cxd_training[randidx],\
#                           regions,maximum_rows,minimum_rows,10,10,1)

# big set
demo_accuracy, demo_coverage = demo_filter(matrix_co_training,arr_cxd_training,\
                                   unique_clusters,maximum_rows,minimum_rows,10,10,1)

cluster: 0, size: 4578, 151647
start new k=0,train set=4120,validation set=458
** number of elements in calculation 135
** average fold accuracy 0.5703703703703704
**time elapsed 3.185616970062256
------------------------------------end
start new k=1,train set=4120,validation set=458
** number of elements in calculation 129
** average fold accuracy 0.5426356589147286
**time elapsed 6.07878303527832
------------------------------------end
start new k=2,train set=4120,validation set=458
** number of elements in calculation 132
** average fold accuracy 0.5
**time elapsed 9.27619481086731
------------------------------------end
start new k=3,train set=4120,validation set=458
** number of elements in calculation 142
** average fold accuracy 0.4788732394366197
**time elapsed 12.438875913619995
------------------------------------end
start new k=4,train set=4120,validation set=458
** number of elements in calculation 127
** average fold accuracy 0.4409448818897638
**time elapsed 15.56013798713684
------------------------------------end
start new k=5,train set=4120,validation set=458
** number of elements in calculation 140
** average fold accuracy 0.44285714285714284
**time elapsed 18.542258977890015
------------------------------------end
start new k=6,train set=4120,validation set=458
** number of elements in calculation 140
** average fold accuracy 0.5928571428571429
**time elapsed 21.472802877426147
------------------------------------end
start new k=7,train set=4120,validation set=458
** number of elements in calculation 138
** average fold accuracy 0.5507246376811594
**time elapsed 24.229875087738037
------------------------------------end
start new k=8,train set=4121,validation set=457
** number of elements in calculation 146
** average fold accuracy 0.5136986301369864
**time elapsed 27.354197025299072
------------------------------------end
start new k=9,train set=4121,validation set=457
** number of elements in calculation 152
** average fold accuracy 0.5
**time elapsed 30.44632887840271
------------------------------------end
list of total accuracy for each fold [0.57037037037037042, 0.54263565891472865, 0.5, 0.47887323943661969, 0.44094488188976377, 0.44285714285714284, 0.59285714285714286, 0.55072463768115942, 0.51369863013698636, 0.5]
10-fold total average 0.5132961704143915
time elapsed 30.4469211101532
start new k=0,train set=4120,validation set=458
**length fold set 408.0
**average fold coverage 0.10225563909774436
**time elapsed 3.15142560005188
------------------------------------end
start new k=1,train set=4120,validation set=458
**length fold set 400.0
**average fold coverage 0.10025062656641603
**time elapsed 6.36795973777771
------------------------------------end
start new k=2,train set=4120,validation set=458
**length fold set 390.0
**average fold coverage 0.09774436090225563
**time elapsed 9.385194540023804
------------------------------------end
start new k=3,train set=4120,validation set=458
**length fold set 414.0
**average fold coverage 0.1037593984962406
**time elapsed 12.494223833084106
------------------------------------end
start new k=4,train set=4120,validation set=458
**length fold set 406.0
**average fold coverage 0.10175438596491228
**time elapsed 15.202769756317139
------------------------------------end
start new k=5,train set=4120,validation set=458
**length fold set 380.0
**average fold coverage 0.09523809523809523
**time elapsed 17.988653659820557
------------------------------------end
start new k=6,train set=4120,validation set=458
**length fold set 413.0
**average fold coverage 0.10350877192982456
**time elapsed 20.725472688674927
------------------------------------end
start new k=7,train set=4120,validation set=458
**length fold set 378.0
**average fold coverage 0.09473684210526316
**time elapsed 23.505589723587036
------------------------------------end
start new k=8,train set=4121,validation set=457
**length fold set 412.0
**average fold coverage 0.10325814536340852
**time elapsed 26.292430639266968
------------------------------------end
start new k=9,train set=4121,validation set=457
**length fold set 371.0
**average fold coverage 0.09298245614035087
**time elapsed 28.98984169960022
------------------------------------end
list of total coverage for each fold [0.10225563909774436, 0.10025062656641603, 0.09774436090225563, 0.1037593984962406, 0.10175438596491228, 0.09523809523809523, 0.10350877192982456, 0.09473684210526316, 0.10325814536340852, 0.09298245614035087]
10-fold total average 0.09954887218045112
time elapsed 28.9906268119812

cluster: 1, size: 25000, 151647
start new k=0,train set=22500,validation set=2500
** number of elements in calculation 703
** average fold accuracy 0.6031294452347084
**time elapsed 77.6788899898529
------------------------------------end
start new k=1,train set=22500,validation set=2500
** number of elements in calculation 670
** average fold accuracy 0.6179104477611941
**time elapsed 160.8769772052765
------------------------------------end
start new k=2,train set=22500,validation set=2500
** number of elements in calculation 706
** average fold accuracy 0.6218130311614731
**time elapsed 244.2713804244995
------------------------------------end
start new k=3,train set=22500,validation set=2500
** number of elements in calculation 655
** average fold accuracy 0.6320610687022901
**time elapsed 325.503160238266
------------------------------------end
start new k=4,train set=22500,validation set=2500
** number of elements in calculation 693
** average fold accuracy 0.6118326118326118
**time elapsed 404.20897936820984
------------------------------------end
start new k=5,train set=22500,validation set=2500
** number of elements in calculation 683
** average fold accuracy 0.6061493411420205
**time elapsed 481.35684299468994
------------------------------------end
start new k=6,train set=22500,validation set=2500
** number of elements in calculation 663
** average fold accuracy 0.5867269984917044
**time elapsed 3149.0804002285004
------------------------------------end
start new k=7,train set=22500,validation set=2500
** number of elements in calculation 655
** average fold accuracy 0.6244274809160305
**time elapsed 3230.994861125946
------------------------------------end
start new k=8,train set=22500,validation set=2500
** number of elements in calculation 674
** average fold accuracy 0.599406528189911
**time elapsed 3311.434586286545
------------------------------------end
start new k=9,train set=22500,validation set=2500
** number of elements in calculation 707
** average fold accuracy 0.6039603960396039
**time elapsed 3401.1483120918274
------------------------------------end
list of total accuracy for each fold [0.60312944523470835, 0.61791044776119408, 0.62181303116147313, 0.63206106870229006, 0.61183261183261184, 0.60614934114202046, 0.5867269984917044, 0.62442748091603051, 0.59940652818991103, 0.60396039603960394]
10-fold total average 0.6107417349471547
time elapsed 3401.1535201072693
start new k=0,train set=22500,validation set=2500
**length fold set 660.0
**average fold coverage 0.16541353383458646
**time elapsed 85.5919029712677
------------------------------------end
start new k=1,train set=22500,validation set=2500
**length fold set 659.0
**average fold coverage 0.16516290726817043
**time elapsed 169.91960501670837
------------------------------------end
start new k=2,train set=22500,validation set=2500
**length fold set 658.0
**average fold coverage 0.1649122807017544
**time elapsed 260.24536395072937
------------------------------------end
start new k=3,train set=22500,validation set=2500
**length fold set 659.0
**average fold coverage 0.16516290726817043
**time elapsed 342.365553855896
------------------------------------end
start new k=4,train set=22500,validation set=2500
**length fold set 652.0
**average fold coverage 0.16340852130325814
**time elapsed 422.1134977340698
------------------------------------end
start new k=5,train set=22500,validation set=2500
**length fold set 682.0
**average fold coverage 0.17092731829573934
**time elapsed 511.07960987091064
------------------------------------end
start new k=6,train set=22500,validation set=2500

**length fold set 672.0
**average fold coverage 0.16842105263157894
**time elapsed 605.663948059082
------------------------------------end
start new k=7,train set=22500,validation set=2500
**length fold set 677.0
**average fold coverage 0.16967418546365914
**time elapsed 703.5657501220703
------------------------------------end
start new k=8,train set=22500,validation set=2500
**length fold set 689.0
**average fold coverage 0.17268170426065163
**time elapsed 799.1413559913635
------------------------------------end
start new k=9,train set=22500,validation set=2500
**length fold set 717.0
**average fold coverage 0.17969924812030075
**time elapsed 892.6288068294525
------------------------------------end
list of total coverage for each fold [0.16541353383458646, 0.16516290726817043, 0.1649122807017544, 0.16516290726817043, 0.16340852130325814, 0.17092731829573934, 0.16842105263157894, 0.16967418546365914, 0.17268170426065163, 0.17969924812030075]
10-fold total average 0.16854636591478697
time elapsed 892.6310079097748

cluster: 2, size: 9728, 151647
start new k=0,train set=8755,validation set=973
** number of elements in calculation 241
** average fold accuracy 0.6016597510373444
**time elapsed 14.46309781074524
------------------------------------end
start new k=1,train set=8755,validation set=973
** number of elements in calculation 258
** average fold accuracy 0.5736434108527132
**time elapsed 28.42087197303772
------------------------------------end
start new k=2,train set=8755,validation set=973
** number of elements in calculation 245
** average fold accuracy 0.49387755102040815
**time elapsed 42.441298961639404
------------------------------------end
start new k=3,train set=8755,validation set=973
** number of elements in calculation 276
** average fold accuracy 0.5289855072463768
**time elapsed 56.35601186752319
------------------------------------end
start new k=4,train set=8755,validation set=973
** number of elements in calculation 247
** average fold accuracy 0.5222672064777328
**time elapsed 70.59672284126282
------------------------------------end
start new k=5,train set=8755,validation set=973
** number of elements in calculation 267
** average fold accuracy 0.5955056179775281
**time elapsed 86.26558589935303
------------------------------------end
start new k=6,train set=8755,validation set=973
** number of elements in calculation 243
** average fold accuracy 0.551440329218107
**time elapsed 101.68728184700012
------------------------------------end
start new k=7,train set=8755,validation set=973
** number of elements in calculation 262
** average fold accuracy 0.5687022900763359
**time elapsed 116.32991480827332
------------------------------------end
start new k=8,train set=8756,validation set=972
** number of elements in calculation 264
** average fold accuracy 0.5681818181818182
**time elapsed 130.54615688323975
------------------------------------end
start new k=9,train set=8756,validation set=972
** number of elements in calculation 259
** average fold accuracy 0.5598455598455598
**time elapsed 144.74027967453003
------------------------------------end
list of total accuracy for each fold [0.60165975103734437, 0.5736434108527132, 0.49387755102040815, 0.52898550724637683, 0.52226720647773284, 0.5955056179775281, 0.55144032921810704, 0.56870229007633588, 0.56818181818181823, 0.55984555984555984]
10-fold total average 0.5564109041933925
time elapsed 144.74112391471863
start new k=0,train set=8755,validation set=973
**length fold set 478.0
**average fold coverage 0.11979949874686717
**time elapsed 15.610813856124878
------------------------------------end
start new k=1,train set=8755,validation set=973
**length fold set 497.0
**average fold coverage 0.12456140350877193
**time elapsed 30.60315704345703
------------------------------------end
start new k=2,train set=8755,validation set=973
**length fold set 484.0
**average fold coverage 0.12130325814536341
**time elapsed 46.080304861068726
------------------------------------end
start new k=3,train set=8755,validation set=973
**length fold set 480.0
**average fold coverage 0.12030075187969924
**time elapsed 61.88833785057068
------------------------------------end
start new k=4,train set=8755,validation set=973
**length fold set 479.0
**average fold coverage 0.12005012531328321
**time elapsed 76.45290684700012
------------------------------------end
start new k=5,train set=8755,validation set=973
**length fold set 466.0
**average fold coverage 0.11679197994987468
**time elapsed 91.31146597862244
------------------------------------end
start new k=6,train set=8755,validation set=973
**length fold set 471.0
**average fold coverage 0.11804511278195488
**time elapsed 106.3107488155365
------------------------------------end
start new k=7,train set=8755,validation set=973
**length fold set 474.0
**average fold coverage 0.11879699248120301
**time elapsed 120.95785093307495
------------------------------------end
start new k=8,train set=8756,validation set=972
**length fold set 478.0
**average fold coverage 0.11979949874686717
**time elapsed 136.00069880485535
------------------------------------end
start new k=9,train set=8756,validation set=972
**length fold set 477.0
**average fold coverage 0.11954887218045113
**time elapsed 150.7712697982788
------------------------------------end
list of total coverage for each fold [0.11979949874686717, 0.12456140350877193, 0.12130325814536341, 0.12030075187969924, 0.12005012531328321, 0.11679197994987468, 0.11804511278195488, 0.11879699248120301, 0.11979949874686717, 0.11954887218045113]
10-fold total average 0.11989974937343359
time elapsed 150.77177596092224

cluster: 3, size: 2922, 151647
start new k=0,train set=2629,validation set=293
** number of elements in calculation 92
** average fold accuracy 0.4782608695652174
**time elapsed 1.8331096172332764
------------------------------------end
start new k=1,train set=2629,validation set=293
** number of elements in calculation 71
** average fold accuracy 0.5352112676056338
**time elapsed 3.6659488677978516
------------------------------------end
start new k=2,train set=2630,validation set=292
** number of elements in calculation 81
** average fold accuracy 0.41975308641975306
**time elapsed 5.709300994873047
------------------------------------end
start new k=3,train set=2630,validation set=292
** number of elements in calculation 76
** average fold accuracy 0.5526315789473685
**time elapsed 7.520747661590576
------------------------------------end
start new k=4,train set=2630,validation set=292
** number of elements in calculation 74
** average fold accuracy 0.4594594594594595
**time elapsed 9.351056814193726
------------------------------------end
start new k=5,train set=2630,validation set=292
** number of elements in calculation 73
** average fold accuracy 0.3972602739726027
**time elapsed 11.15114974975586
------------------------------------end
start new k=6,train set=2630,validation set=292
** number of elements in calculation 70
** average fold accuracy 0.45714285714285713
**time elapsed 12.913871765136719
------------------------------------end
start new k=7,train set=2630,validation set=292
** number of elements in calculation 84
** average fold accuracy 0.36904761904761907
**time elapsed 14.65872073173523
------------------------------------end
start new k=8,train set=2630,validation set=292
** number of elements in calculation 75
** average fold accuracy 0.4533333333333333
**time elapsed 16.639482736587524
------------------------------------end
start new k=9,train set=2630,validation set=292
** number of elements in calculation 78
** average fold accuracy 0.6666666666666666
**time elapsed 18.472238779067993
------------------------------------end
list of total accuracy for each fold [0.47826086956521741, 0.53521126760563376, 0.41975308641975306, 0.55263157894736847, 0.45945945945945948, 0.39726027397260272, 0.45714285714285713, 0.36904761904761907, 0.45333333333333331, 0.66666666666666663]
10-fold total average 0.4788767012160512
time elapsed 18.47293782234192
start new k=0,train set=2629,validation set=293
**length fold set 260.0
**average fold coverage 0.06516290726817042
**time elapsed 1.8719980716705322
------------------------------------end
start new k=1,train set=2629,validation set=293

**length fold set 276.0
**average fold coverage 0.06917293233082707
**time elapsed 3.7492380142211914
------------------------------------end
start new k=2,train set=2630,validation set=292
**length fold set 257.0
**average fold coverage 0.06441102756892231
**time elapsed 5.592168092727661
------------------------------------end
start new k=3,train set=2630,validation set=292
**length fold set 267.0
**average fold coverage 0.06691729323308271
**time elapsed 7.458302021026611
------------------------------------end
start new k=4,train set=2630,validation set=292
**length fold set 292.0
**average fold coverage 0.07318295739348371
**time elapsed 9.225175142288208
------------------------------------end
start new k=5,train set=2630,validation set=292
**length fold set 256.0
**average fold coverage 0.06416040100250626
**time elapsed 11.090739965438843
------------------------------------end
start new k=6,train set=2630,validation set=292
**length fold set 256.0
**average fold coverage 0.06416040100250626
**time elapsed 12.968248844146729
------------------------------------end
start new k=7,train set=2630,validation set=292
**length fold set 244.0
**average fold coverage 0.061152882205513785
**time elapsed 14.834658861160278
------------------------------------end
start new k=8,train set=2630,validation set=292
**length fold set 270.0
**average fold coverage 0.06766917293233082
**time elapsed 16.717762231826782
------------------------------------end
start new k=9,train set=2630,validation set=292
**length fold set 265.0
**average fold coverage 0.06641604010025062
**time elapsed 18.567806005477905
------------------------------------end
list of total coverage for each fold [0.06516290726817042, 0.06917293233082707, 0.06441102756892231, 0.06691729323308271, 0.07318295739348371, 0.06416040100250626, 0.06416040100250626, 0.061152882205513785, 0.06766917293233082, 0.06641604010025062]
10-fold total average 0.0662406015037594
time elapsed 18.568523168563843

cluster: 4, size: 23304, 151647
start new k=0,train set=20973,validation set=2331
** number of elements in calculation 666
** average fold accuracy 0.6306306306306306
**time elapsed 98.64635801315308
------------------------------------end
start new k=1,train set=20973,validation set=2331
** number of elements in calculation 640
** average fold accuracy 0.58125
**time elapsed 188.7043719291687
------------------------------------end
start new k=2,train set=20973,validation set=2331
** number of elements in calculation 626
** average fold accuracy 0.5798722044728435
**time elapsed 277.523099899292
------------------------------------end
start new k=3,train set=20973,validation set=2331
** number of elements in calculation 618
** average fold accuracy 0.6035598705501618
**time elapsed 366.3853099346161
------------------------------------end
start new k=4,train set=20974,validation set=2330
** number of elements in calculation 596
** average fold accuracy 0.6057046979865772
**time elapsed 456.31496000289917
------------------------------------end
start new k=5,train set=20974,validation set=2330
** number of elements in calculation 647
** average fold accuracy 0.6537867078825348
**time elapsed 544.4553029537201
------------------------------------end
start new k=6,train set=20974,validation set=2330
** number of elements in calculation 648
** average fold accuracy 0.6203703703703703
**time elapsed 633.4105539321899
------------------------------------end
start new k=7,train set=20974,validation set=2330
** number of elements in calculation 590
** average fold accuracy 0.5813559322033899
**time elapsed 721.1138970851898
------------------------------------end
start new k=8,train set=20974,validation set=2330
** number of elements in calculation 637
** average fold accuracy 0.5996860282574569
**time elapsed 808.6970000267029
------------------------------------end
start new k=9,train set=20974,validation set=2330
** number of elements in calculation 604
** average fold accuracy 0.6241721854304636
**time elapsed 895.6498539447784
------------------------------------end
list of total accuracy for each fold [0.63063063063063063, 0.58125000000000004, 0.57987220447284349, 0.6035598705501618, 0.60570469798657722, 0.65378670788253479, 0.62037037037037035, 0.58135593220338988, 0.59968602825745687, 0.6241721854304636]
10-fold total average 0.6080388627784428
time elapsed 895.6524600982666
start new k=0,train set=20973,validation set=2331
**length fold set 672.0
**average fold coverage 0.16842105263157894
**time elapsed 88.07210206985474
------------------------------------end
start new k=1,train set=20973,validation set=2331
**length fold set 695.0
**average fold coverage 0.17418546365914786
**time elapsed 176.71811819076538
------------------------------------end
start new k=2,train set=20973,validation set=2331
**length fold set 718.0
**average fold coverage 0.1799498746867168
**time elapsed 249.11498308181763
------------------------------------end
start new k=3,train set=20973,validation set=2331
**length fold set 692.0
**average fold coverage 0.17343358395989975
**time elapsed 318.00347423553467
------------------------------------end
start new k=4,train set=20974,validation set=2330
**length fold set 700.0
**average fold coverage 0.17543859649122806
**time elapsed 386.5731871128082
------------------------------------end
start new k=5,train set=20974,validation set=2330
**length fold set 667.0
**average fold coverage 0.16716791979949874
**time elapsed 455.13472294807434
------------------------------------end
start new k=6,train set=20974,validation set=2330
**length fold set 702.0
**average fold coverage 0.17593984962406015
**time elapsed 525.1812131404877
------------------------------------end
start new k=7,train set=20974,validation set=2330
**length fold set 656.0
**average fold coverage 0.1644110275689223
**time elapsed 593.5380079746246
------------------------------------end
start new k=8,train set=20974,validation set=2330
**length fold set 702.0
**average fold coverage 0.17593984962406015
**time elapsed 661.9204211235046
------------------------------------end
start new k=9,train set=20974,validation set=2330
**length fold set 706.0
**average fold coverage 0.17694235588972432
**time elapsed 730.3300368785858
------------------------------------end
list of total coverage for each fold [0.16842105263157894, 0.17418546365914786, 0.1799498746867168, 0.17343358395989975, 0.17543859649122806, 0.16716791979949874, 0.17593984962406015, 0.1644110275689223, 0.17593984962406015, 0.17694235588972432]
10-fold total average 0.1731829573934837
time elapsed 730.3312900066376

cluster: 5, size: 25000, 151647
start new k=0,train set=22500,validation set=2500
** number of elements in calculation 660
** average fold accuracy 0.603030303030303
**time elapsed 67.72706580162048
------------------------------------end
start new k=1,train set=22500,validation set=2500
** number of elements in calculation 659
** average fold accuracy 0.5933232169954477
**time elapsed 139.39682579040527
------------------------------------end
start new k=2,train set=22500,validation set=2500
** number of elements in calculation 694
** average fold accuracy 0.6023054755043228
**time elapsed 211.85936284065247
------------------------------------end
start new k=3,train set=22500,validation set=2500
** number of elements in calculation 694
** average fold accuracy 0.5965417867435159
**time elapsed 283.7044589519501
------------------------------------end
start new k=4,train set=22500,validation set=2500
** number of elements in calculation 692
** average fold accuracy 0.634393063583815
**time elapsed 355.5615029335022
------------------------------------end
start new k=5,train set=22500,validation set=2500
** number of elements in calculation 674
** average fold accuracy 0.6409495548961425
**time elapsed 427.55812191963196
------------------------------------end
start new k=6,train set=22500,validation set=2500
** number of elements in calculation 696
** average fold accuracy 0.617816091954023
**time elapsed 499.6050429344177
------------------------------------end
start new k=7,train set=22500,validation set=2500
** number of elements in calculation 633
** average fold accuracy 0.6224328593996841
**time elapsed 573.1261329650879
------------------------------------end

start new k=8,train set=22500,validation set=2500
** number of elements in calculation 695
** average fold accuracy 0.6273381294964029
**time elapsed 645.0855438709259
------------------------------------end
start new k=9,train set=22500,validation set=2500
** number of elements in calculation 671
** average fold accuracy 0.6020864381520119
**time elapsed 717.6309440135956
------------------------------------end
list of total accuracy for each fold [0.60303030303030303, 0.59332321699544766, 0.60230547550432278, 0.59654178674351588, 0.63439306358381498, 0.64094955489614247, 0.61781609195402298, 0.62243285939968407, 0.62733812949640289, 0.6020864381520119]
10-fold total average 0.614021691975567
time elapsed 717.6408438682556
start new k=0,train set=22500,validation set=2500
**length fold set 741.0
**average fold coverage 0.18571428571428572
**time elapsed 68.27596712112427
------------------------------------end
start new k=1,train set=22500,validation set=2500
**length fold set 748.0
**average fold coverage 0.187468671679198
**time elapsed 140.70556712150574
------------------------------------end
start new k=2,train set=22500,validation set=2500
**length fold set 773.0
**average fold coverage 0.193734335839599
**time elapsed 213.18343091011047
------------------------------------end
start new k=3,train set=22500,validation set=2500
**length fold set 752.0
**average fold coverage 0.18847117794486215
**time elapsed 285.2102789878845
------------------------------------end
start new k=4,train set=22500,validation set=2500
**length fold set 738.0
**average fold coverage 0.1849624060150376
**time elapsed 357.32394218444824
------------------------------------end
start new k=5,train set=22500,validation set=2500
**length fold set 736.0
**average fold coverage 0.18446115288220552
**time elapsed 429.7140610218048
------------------------------------end
start new k=6,train set=22500,validation set=2500
**length fold set 740.0
**average fold coverage 0.18546365914786966
**time elapsed 501.7126941680908
------------------------------------end
start new k=7,train set=22500,validation set=2500
**length fold set 707.0
**average fold coverage 0.17719298245614035
**time elapsed 575.4598562717438
------------------------------------end
start new k=8,train set=22500,validation set=2500
**length fold set 747.0
**average fold coverage 0.18721804511278195
**time elapsed 647.1876921653748
------------------------------------end
start new k=9,train set=22500,validation set=2500
**length fold set 755.0
**average fold coverage 0.18922305764411027
**time elapsed 719.8227641582489
------------------------------------end
list of total coverage for each fold [0.18571428571428572, 0.187468671679198, 0.193734335839599, 0.18847117794486215, 0.1849624060150376, 0.18446115288220552, 0.18546365914786966, 0.17719298245614035, 0.18721804511278195, 0.18922305764411027]
10-fold total average 0.18639097744360902
time elapsed 719.8320100307465

cluster: 6, size: 25000, 151647
start new k=0,train set=22500,validation set=2500
** number of elements in calculation 671
** average fold accuracy 0.6274217585692996
**time elapsed 67.4831600189209
------------------------------------end
start new k=1,train set=22500,validation set=2500
** number of elements in calculation 626
** average fold accuracy 0.6230031948881789
**time elapsed 139.56271123886108
------------------------------------end
start new k=2,train set=22500,validation set=2500
** number of elements in calculation 682
** average fold accuracy 0.6026392961876833
**time elapsed 212.4333131313324
------------------------------------end
start new k=3,train set=22500,validation set=2500
** number of elements in calculation 678
** average fold accuracy 0.6061946902654868
**time elapsed 283.95013403892517
------------------------------------end
start new k=4,train set=22500,validation set=2500
** number of elements in calculation 636
** average fold accuracy 0.5927672955974843
**time elapsed 355.86064100265503
------------------------------------end
start new k=5,train set=22500,validation set=2500
** number of elements in calculation 673
** average fold accuracy 0.6106983655274889
**time elapsed 427.60744881629944
------------------------------------end
start new k=6,train set=22500,validation set=2500
** number of elements in calculation 685
** average fold accuracy 0.5693430656934306
**time elapsed 499.3312020301819
------------------------------------end
start new k=7,train set=22500,validation set=2500
** number of elements in calculation 687
** average fold accuracy 0.6390101892285298
**time elapsed 572.5684108734131
------------------------------------end
start new k=8,train set=22500,validation set=2500
** number of elements in calculation 671
** average fold accuracy 0.5767511177347243
**time elapsed 644.4245820045471
------------------------------------end
start new k=9,train set=22500,validation set=2500
** number of elements in calculation 655
** average fold accuracy 0.6305343511450382
**time elapsed 716.657655954361
------------------------------------end
list of total accuracy for each fold [0.6274217585692996, 0.6230031948881789, 0.6026392961876833, 0.60619469026548678, 0.59276729559748431, 0.61069836552748891, 0.56934306569343063, 0.63901018922852981, 0.57675111773472432, 0.6305343511450382]
10-fold total average 0.6078363324837344
time elapsed 716.6596581935883
start new k=0,train set=22500,validation set=2500
**length fold set 663.0
**average fold coverage 0.1661654135338346
**time elapsed 68.22282695770264
------------------------------------end
start new k=1,train set=22500,validation set=2500
**length fold set 725.0
**average fold coverage 0.18170426065162906
**time elapsed 140.78320789337158
------------------------------------end
start new k=2,train set=22500,validation set=2500
**length fold set 730.0
**average fold coverage 0.18295739348370926
**time elapsed 214.32154488563538
------------------------------------end
start new k=3,train set=22500,validation set=2500
**length fold set 720.0
**average fold coverage 0.18045112781954886
**time elapsed 286.3840730190277
------------------------------------end
start new k=4,train set=22500,validation set=2500
**length fold set 724.0
**average fold coverage 0.18145363408521303
**time elapsed 358.726891040802
------------------------------------end
start new k=5,train set=22500,validation set=2500
**length fold set 709.0
**average fold coverage 0.17769423558897243
**time elapsed 430.68904399871826
------------------------------------end
start new k=6,train set=22500,validation set=2500
**length fold set 710.0
**average fold coverage 0.17794486215538846
**time elapsed 502.8569509983063
------------------------------------end
start new k=7,train set=22500,validation set=2500
**length fold set 708.0
**average fold coverage 0.1774436090225564
**time elapsed 576.5719799995422
------------------------------------end
start new k=8,train set=22500,validation set=2500
**length fold set 713.0
**average fold coverage 0.1786967418546366
**time elapsed 649.449798822403
------------------------------------end
start new k=9,train set=22500,validation set=2500
**length fold set 724.0
**average fold coverage 0.18145363408521303
**time elapsed 723.0050239562988
------------------------------------end
list of total coverage for each fold [0.1661654135338346, 0.18170426065162906, 0.18295739348370926, 0.18045112781954886, 0.18145363408521303, 0.17769423558897243, 0.17794486215538846, 0.1774436090225564, 0.1786967418546366, 0.18145363408521303]
10-fold total average 0.17859649122807017
time elapsed 723.0116589069366

cluster: 7, size: 13615, 151647
start new k=0,train set=12253,validation set=1362
** number of elements in calculation 360
** average fold accuracy 0.6194444444444445
**time elapsed 19.62066125869751
------------------------------------end
start new k=1,train set=12253,validation set=1362
** number of elements in calculation 392
** average fold accuracy 0.5535714285714286
**time elapsed 39.433002948760986
------------------------------------end
start new k=2,train set=12253,validation set=1362
** number of elements in calculation 379
** average fold accuracy 0.5883905013192612
**time elapsed 59.02597713470459
------------------------------------end

start new k=3,train set=12253,validation set=1362
** number of elements in calculation 342
** average fold accuracy 0.6169590643274854
**time elapsed 78.49179911613464
------------------------------------end
start new k=4,train set=12253,validation set=1362
** number of elements in calculation 340
** average fold accuracy 0.5411764705882353
**time elapsed 98.04972910881042
------------------------------------end
start new k=5,train set=12254,validation set=1361
** number of elements in calculation 390
** average fold accuracy 0.6153846153846154
**time elapsed 117.66157007217407
------------------------------------end
start new k=6,train set=12254,validation set=1361
** number of elements in calculation 375
** average fold accuracy 0.552
**time elapsed 137.01140904426575
------------------------------------end
start new k=7,train set=12254,validation set=1361
** number of elements in calculation 359
** average fold accuracy 0.5710306406685237
**time elapsed 156.55154705047607
------------------------------------end
start new k=8,train set=12254,validation set=1361
** number of elements in calculation 382
** average fold accuracy 0.5837696335078534
**time elapsed 176.33076405525208
------------------------------------end
start new k=9,train set=12254,validation set=1361
** number of elements in calculation 345
** average fold accuracy 0.6086956521739131
**time elapsed 196.25680112838745
------------------------------------end
list of total accuracy for each fold [0.61944444444444446, 0.5535714285714286, 0.58839050131926118, 0.61695906432748537, 0.54117647058823526, 0.61538461538461542, 0.55200000000000005, 0.57103064066852371, 0.58376963350785338, 0.60869565217391308]
10-fold total average 0.585042245098576
time elapsed 196.25808215141296
start new k=0,train set=12253,validation set=1362
**length fold set 563.0
**average fold coverage 0.14110275689223056
**time elapsed 19.938992977142334
------------------------------------end
start new k=1,train set=12253,validation set=1362
**length fold set 559.0
**average fold coverage 0.14010025062656642
**time elapsed 39.92371702194214
------------------------------------end
start new k=2,train set=12253,validation set=1362
**length fold set 570.0
**average fold coverage 0.14285714285714285
**time elapsed 59.641419887542725
------------------------------------end
start new k=3,train set=12253,validation set=1362
**length fold set 556.0
**average fold coverage 0.1393483709273183
**time elapsed 79.52155208587646
------------------------------------end
start new k=4,train set=12253,validation set=1362
**length fold set 551.0
**average fold coverage 0.1380952380952381
**time elapsed 99.07841610908508
------------------------------------end
start new k=5,train set=12254,validation set=1361
**length fold set 583.0
**average fold coverage 0.14611528822055136
**time elapsed 118.67634606361389
------------------------------------end
start new k=6,train set=12254,validation set=1361
**length fold set 572.0
**average fold coverage 0.14335839598997493
**time elapsed 138.224750995636
------------------------------------end
start new k=7,train set=12254,validation set=1361
**length fold set 572.0
**average fold coverage 0.14335839598997493
**time elapsed 157.93243622779846
------------------------------------end
start new k=8,train set=12254,validation set=1361
**length fold set 577.0
**average fold coverage 0.14461152882205514
**time elapsed 177.85348916053772
------------------------------------end
start new k=9,train set=12254,validation set=1361
**length fold set 542.0
**average fold coverage 0.13583959899749373
**time elapsed 197.70931124687195
------------------------------------end
list of total coverage for each fold [0.14110275689223056, 0.14010025062656642, 0.14285714285714285, 0.1393483709273183, 0.1380952380952381, 0.14611528822055136, 0.14335839598997493, 0.14335839598997493, 0.14461152882205514, 0.13583959899749373]
10-fold total average 0.14147869674185462
time elapsed 197.71091508865356

In [120]:
demo_accuracy

[(0, 4578, 0.51329617041439146),
 (1, 25000, 0.61074173494715467),
 (2, 9728, 0.55641090419339245),
 (3, 2922, 0.47887670121605119),
 (4, 23304, 0.60803886277844277),
 (5, 25000, 0.614021691975567),
 (6, 25000, 0.60783633248373437),
 (7, 13615, 0.58504224509857605)]

In [121]:
np.save('demo_clustering_cluster_accuracy3.npy',\
        [(maximum_rows,minimum_rows,seed,datetime.now().strftime("%Y-%m-%d_%H:%M:%S"))]+demo_accuracy)

In [122]:
demo_coverage

[(0, 4578, 0.099548872180451123),
 (1, 25000, 0.16854636591478697),
 (2, 9728, 0.11989974937343359),
 (3, 2922, 0.066240601503759405),
 (4, 23304, 0.17318295739348369),
 (5, 25000, 0.18639097744360902),
 (6, 25000, 0.17859649122807017),
 (7, 13615, 0.14147869674185462)]

In [123]:
np.save('demo_clustering_cluster_coverage3.npy',\
        [(maximum_rows,minimum_rows,seed,datetime.now().strftime("%Y-%m-%d_%H:%M:%S"))]+demo_coverage)