In [1]:
import pandas as pd
import numpy as np
from json import loads
import pandas as pd
import psycopg2 
import csv
#from urllib import parse, request
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import sys
sys.path.append("/Users/bhatnagarakshit10/Documents/DSE/akbhatna/2017FA-DSE203/dse203-group-project/query_capability")
sys.path.append("/Users/bhatnagarakshit10/Documents/DSE/akbhatna/2017FA-DSE203/dse203-group-project/schema_integration")
sys.path.append("/Users/bhatnagarakshit10/Documents/DSE/akbhatna/2017FA-DSE203/dse203-group-project/data_exploration")

In [7]:
import IntegratedSchemaQueryExecutor as ise

from hybrid_engine import HybridEngine
#import test_hybrid

ise.print_available_views()

import re
match=re.search("(\S+)\s*([>=<]+)\s*(.+)","customerid = 68099")

match.group(1), match.group(2), match.group(3)

#ise.execute('Ans(asin)->Cust_Prod(customerid,householdid,gender,firstname,orderid,campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,isinstock,fullprice,asin,nodeid)',['customerid=68099'])

ise.execute('Ans(asin)->Cust_Prod(customerid,householdid,gender,firstname,orderid,campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,isinstock,fullprice,asin,nodeid)', condition=['customerid=68099']);

<qe.HybridEngine> query datalog:
[{'condition': ['customerid=68099'],
  'limit': None,
  'result': 'ans(asin)',
  'table': ['postgres.customers(customerid,_,_,_)',
            'postgres.orders(wyzz,customerid,_,_,_,_,_,_,_,_,_)',
            'postgres.orderlines(_,wyzz,xxww,_,_,_,_,_)',
            'postgres.products(xxww,_,_,_,_,_,asin,_)']}]

<qe.DatalogParser> parser structure:
{'_result': 'ans(asin)',
 'aggregation': {},
 'column_to_table': {'_': {'postgres': 'products'},
                     'asin': {'postgres': 'products'},
                     'customerid': {'postgres': 'orders'},
                     'wyzz': {'postgres': 'orderlines'},
                     'xxww': {'postgres': 'products'}},
 'conditions': ['customerid=68099'],
 'groupby': None,
 'join_columns': {'customerid': ['customers', 'orders'],
                  'wyzz': ['orders', 'orderlines'],
                  'xxww': ['orderlines', 'products']},
 'join_path': {'MULTI_SOURCE': {},
               'postgres': {'customerid': ['customers', 'orders'],
                            'wyzz': ['orders', 'orderlines'],
                            'xxww': ['orderlines', 'products']}},
 'limit': None,
 'orderby': None,
 'query_columns': {'MULTI_SOURCE': [{'alias': None,
                                     'column': 'asin',
                                     'func': None,
                                     'table': 'products'}],
                   'postgres': [{'alias': None,
                                 'column': 'asin',
                                 'func': None,
                                 'table': 'products'}]},
 'return_columns': ['asin'],
 'return_table': 'ans',
 'source_tables': {'postgres': ['customers',
                                'orders',
                                'orderlines',
                                'products']},
 'table_column_idx': {'customers': {'_': 3, 'customerid': 0},
                      'orderlines': {'_': 7, 'wyzz': 1, 'xxww': 2},
                      'orders': {'_': 10, 'customerid': 1, 'wyzz': 0},
                      'products': {'_': 7, 'asin': 6, 'xxww': 0}},
 'table_columns': {'customers': ['customerid', '_', '_', '_'],
                   'orderlines': ['_', 'wyzz', 'xxww', '_', '_', '_', '_', '_'],
                   'orders': ['wyzz',
                              'customerid',
                              '_',
                              '_',
                              '_',
                              '_',
                              '_',
                              '_',
                              '_',
                              '_',
                              '_'],
                   'products': ['xxww', '_', '_', '_', '_', '_', 'asin', '_']},
 'table_conditions': {'postgres': {'orders': [['customerid', '=', '68099']]}}}

<qe.HybridEngine> arbiter submit query to postgres
{'column_idx': {'customers': {'_': 3, 'customerid': 0},
                'orderlines': {'_': 7, 'wyzz': 1, 'xxww': 2},
                'orders': {'_': 10, 'customerid': 1, 'wyzz': 0},
                'products': {'_': 7, 'asin': 6, 'xxww': 0}},
 'columns': {'customers': ['customerid', '_', '_', '_'],
             'orderlines': ['_', 'wyzz', 'xxww', '_', '_', '_', '_', '_'],
             'orders': ['wyzz',
                        'customerid',
                        '_',
                        '_',
                        '_',
                        '_',
                        '_',
                        '_',
                        '_',
                        '_',
                        '_'],
             'products': ['xxww', '_', '_', '_', '_', '_', 'asin', '_']},
 'conditions': {'orders': [['customerid', '=', '68099']]},
 'groupby': None,
 'join': {'customerid': ['customers', 'orders'],
          'wyzz': ['orders', 'orderlines'],
          'xxww': ['orderlines', 'products']},
 'limit': None,
 'orderby': None,
 'return': [{'alias': None,
             'column': 'asin',
             'func': None,
             'table': 'products'}],
 'tables': ['customers', 'orders', 'orderlines', 'products'],
 'view': None}

<qe.PostgresEngine> query sql cmd:
SELECT products.asin
FROM customers, orders, orderlines, products
WHERE customers.customerid=orders.customerid AND orders.orderid=orderlines.orderid AND orderlines.productid=products.productid AND orders.customerid = '68099'

['cust_prod(customerid,householdid,gender,firstname,orderid,campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,isinstock,fullprice,asin,nodeid)']
['global_seasonal_view(productid,spring,summer,fall,winter,fullprice,isinstock)']
['global_seasonal_view_cust(productid,spring,summer,fall,winter,fullprice,isinstock)']
['reviewfeatures_view(reviewid,asin,rating,votesforreview,outof,reviewercount,bookreviewcount,age,nodeid,reviewtext,summary)']
['regions_map_view(customerid,region,gender)']
['categorylevel_view(nodeid,level_1,level_2,level_3,level_4,level_5)']
['categoryflat_view(nodeid,category)']
['postgres.customers(customerid,_,_,_)', 'postgres.orders(wyzz,customerid,_,_,_,_,_,_,_,_,_)', 'postgres.orderlines(_,wyzz,xxww,_,_,_,_,_)', 'postgres.products(xxww,_,_,_,_,_,asin,_)']

<qe.PostgresEngine> query sample result:
         asin
0  0006135102
1  0006135064

<qe.Combiner> combining result for single subquery

In [8]:
ise.print_available_views()

['cust_prod(customerid,householdid,gender,firstname,orderid,campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,isinstock,fullprice,asin,nodeid)']
['global_seasonal_view(productid,spring,summer,fall,winter,fullprice,isinstock)']
['global_seasonal_view_cust(productid,spring,summer,fall,winter,fullprice,isinstock)']
['reviewfeatures_view(reviewid,asin,rating,votesforreview,outof,reviewercount,bookreviewcount,age,nodeid,reviewtext,summary)']
['regions_map_view(customerid,region,gender)']
['categorylevel_view(nodeid,level_1,level_2,level_3,level_4,level_5)']
['categoryflat_view(nodeid,category)']

In [4]:
result

         asin
0  0006135102
1  0006135064

In [3]:
def get_demoid():
	# lookup table customerid input
	arg_custid = int(request.args.get('custid'))
	array_demo = np.zeros(matrix_cxd.shape[1])
	if arg_custid in list_cust_ids:
		array_demo = matrix_cxd[get_idx_from_custid(arg_custid)]
	return Response(json.dumps({'demographic_region': int(array_demo[0]), 'demographic_gender': int(array_demo[1])}),  mimetype='application/json')

In [ ]:
def get_purchases(x):
    # lookup table customerid input
    arg_custid = int(request.args.get('custid'))
    list_pur = []
    datalog="""Ans(asin)->Cust_Prod(customerid,householdid,gender,firstname,orderid,
    campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,
    order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,
    isinstock,fullprice,asin,nodeid)"""
    con=['customerid=68099']
    result=list(ise.execute(datalog,con)['asin'].values)
    return result
    #return Response(json.dumps({'purchases': list_pur}),  mimetype='application/json')

In [14]:
def get_purchases(x):
    # lookup table customerid input
    arg_custid = x#int(request.args.get('custid'))
    list_pur = []
    #datalog = [
    #    {
    #        'result': 'Ans(asin)',
    #        'table': ['postgres.orders(orderid, customerid, campaignId, orderDate, city, state, zipCode, paymentType, totalPrice, numOrderLines, _)',
    #        'postgres.customers(customerid, householdId, gender, firstname)',
    #        'postgres.orderlines(orderLineId, orderid, productId, shipDate, billdate, unitPrice, numunits, _)',
    #        'postgres.products(productId,_,_,_,_,_,asin,_)'
    #                 ],
    #        'condition': ['customerid='+str(arg_custid)],
    #        'groupby': {'key':'asin'}
    #    }
    #]
    #engine = HybridEngine()
    #result = engine.queryDatalog(datalog)
    #return result

    datalog="""Ans(asin)->Cust_Prod(customerid,householdid,gender,firstname,orderid,
    campaignid,orderdate,city,state,zipcode,paymenttype,order_totalprice,numorderlines,
    order_numunits,orderlineid,productid,shipdate,billdate,unitprice,ol_numunits,ol_totalprice,
    isinstock,fullprice,asin,nodeid)"""
    con=['customerid=68099']
    result=list(ise.execute(datalog,con)['asin'].values)
    return result
    #return Response(json.dumps({'purchases': list_pur}),  mimetype='application/json')

In [15]:
get_purchases(68099)

['postgres.customers(customerid,_,_,_)', 'postgres.orders(xwzw,customerid,_,_,_,_,_,_,_,_,_)', 'postgres.orderlines(_,xwzw,yzzw,_,_,_,_,_)', 'postgres.products(yzzw,_,_,_,_,_,asin,_)']

['0006135102', '0006135064']

In [12]:
get_purchases(68099)

###### query columns #######
{'MULTI_SOURCE': [{'table': 'products', 'column': 'asin', 'func': None, 'alias': None}], 'postgres': [{'table': 'products', 'column': 'asin', 'func': None, 'alias': None}]}

###### join path #######
{'MULTI_SOURCE': {}, 'postgres': {'orderid': ['orders', 'orderlines'], 'customerid': ['orders', 'customers']}}

###### query for postgres #######
SELECT products.asin
FROM orders, customers, orderlines, products
WHERE orders.orderid=orderlines.orderid AND orders.customerid=customers.customerid AND customers.customerid = '68099'
GROUP BY products.asin

In [5]:
%cd data_exploration/

/Users/bhatnagarakshit10/Documents/DSE/akbhatna/2017FA-DSE203/dse203-group-project/data_exploration

In [15]:
%matplotlib inline

In [9]:
from dora.api import DataExplorer
explorer = DataExplorer()

In [21]:
ratings=explorer.products.ratingsDistribution()

In [22]:
ratings_df = pd.DataFrame(
            data=ratings.results, 
            columns=ratings.columns)

In [23]:
ratings_df

,asin,productid,one_star_votes,two_star_votes,three_star_votes,four_star_votes,five_star_votes
0,0007386648,13970,77,93,253,970,7669
1,0002007770,10204,202,251,404,1238,3906
2,0007124015,12333,121,118,160,426,3496
3,0002247399,10533,651,747,890,1164,3021
4,0007205236,13037,65,50,98,272,986
5,0007281447,13565,11,13,34,179,835
6,0007327064,13797,38,42,112,241,810
7,0006514006,11795,77,43,69,209,752
8,0007167040,12729,5,12,24,78,668
9,0007230206,13209,224,196,191,272,579
10,0007136838,12444,15,14,55,139,563
11,0007171684,12755,12,4,12,86,476
12,0007172826,12761,31,46,102,238,446
13,000100039X,10018,19,15,17,41,444
14,0006476155,11617,26,32,63,171,418
15,0007410956,13993,19,29,93,233,383
16,0002242052,10524,20,33,34,93,383
17,000727405X,13519,19,17,62,164,354
18,0007236360,13251,3,2,37,138,352
19,0006551807,11902,24,47,97,214,347
20,0007337701,13836,6,4,20,91,336
21,0007148976,12544,13,14,26,87,316
22,0007183518,12877,7,6,17,36,292
23,0007423632,14028,44,35,64,144,292
24,0002051850,10216,13,24,38,92,259
25,0007157150,12623,5,21,36,89,254
26,0002219417,10472,8,5,10,40,228
27,0007107927,12177,25,17,23,81,225
28,0007169914,12739,8,5,12,28,208
29,0007149824,12555,58,59,87,154,205
...,...,...,...,...,...,...,...
4010,0002877414,10810,0,1,0,0,0
4011,0007130856,12382,0,0,0,1,0
4012,0007173482,12769,0,0,1,1,0
4013,0007160631,12647,1,0,0,1,0
4014,0007205503,13039,1,0,1,1,0
4015,0007263937,13444,0,0,1,1,0
4016,0007181221,12842,0,0,0,1,0
4017,0002179938,10380,0,0,0,1,0
4018,0007111266,12212,0,1,0,0,0
4019,0007320515,13762,1,0,0,0,0
4020,0002158426,10299,0,0,0,1,0
4021,0006375316,11460,0,1,0,0,0
4022,0007214456,13108,0,0,0,1,0
4023,0004125509,10866,1,0,0,0,0
4024,0007247397,13317,0,0,0,1,0
4025,0001001787,10019,0,0,0,1,0
4026,0006496741,11716,0,0,0,1,0
4027,0007193467,12940,0,1,0,0,0
4028,0002201399,10434,0,0,1,0,0
4029,0007126522,12347,0,0,0,1,0
4030,0007180209,12836,0,1,0,0,0
4031,0002166461,10335,1,0,0,0,0
4032,0005038871,11064,0,1,0,0,0
4033,0007163916,12689,0,0,1,0,0
4034,0006499031,11737,0,0,1,0,0
4035,0006498140,11727,0,0,1,0,0
4036,0002006006,10188,0,0,0,2,0
4037,0006482902,11669,0,0,1,0,0
4038,0007148747,12542,0,1,0,0,0
4039,0002192497,10404,0,1,0,0,0

In [7]:
seasonal = explorer.products.seasonalOrderDistribution()
seasonal.to_csv('~/Downloads/seasonal_dist.csv')
df = seasonal.to_pandas()

In [8]:
df

,asin,productid,spring_sales,summer_sales,fall_sales,winter_sales
0,0002233916,10501,1,0,1,0
1,0002157977,10295,14,6,2,4
2,0006385478,11523,1,0,1,0
3,000638661X,11534,2,2,1,2
4,0006550800,11890,0,1,0,0
5,0007179731,12831,18,13,41,53
6,0007121822,12310,0,2,4,9
7,0006499139,11739,1,0,2,0
8,0007171366,12752,0,1,3,0
9,0007175582,12785,1,0,0,0
10,0007355165,13893,8,0,0,0
11,0007222130,13147,12,5,8,9
12,0007315120,13733,1,1,0,0
13,0007248008,13331,6,6,1,1
14,0007415915,14008,0,1,1,0
15,0002192888,10406,1,0,1,1
16,0007126190,12338,1,0,0,2
17,0006365078,11430,1,1,1,2
18,0005111994,11082,31,38,46,67
19,0006546846,11861,1,0,2,2
20,000736265X,13913,0,1,0,0
21,0006510795,11768,1,0,5,2
22,0006011144,11159,365,42,37,216
23,0007111517,12217,1,3,0,1
24,0007270828,13502,0,0,1,0
25,0007169655,12737,0,0,1,0
26,0006152058,11228,0,1,0,0
27,0006917801,12049,2,1,1,0
28,0005369703,11109,35,65,78,139
29,0007117078,12267,0,0,0,1
...,...,...,...,...,...,...
4010,0004708237,10985,32,43,31,72
4011,0004710010,10998,0,1,0,0
4012,0004709977,10997,0,1,0,1
4013,0007127383,12356,2,0,0,0
4014,0004490606,10942,269,146,196,744
4015,0002559013,10734,1,0,0,2
4016,0007151241,12564,1,0,1,0
4017,0007204078,13031,3,1,0,5
4018,0007150911,12561,0,0,1,1
4019,0006170749,11268,4,1,5,2
4020,0001712772,10092,0,2,1,0
4021,0007273436,13518,0,3,0,0
4022,0002239221,10516,1,0,1,1
4023,0006512623,11782,0,1,0,0
4024,0002167425,10340,1,1,2,2
4025,0007133073,12409,0,0,0,1
4026,0007354282,13889,4,3,0,0
4027,0006574904,11920,0,0,1,0
4028,0006498892,11734,1,0,0,2
4029,0006380298,11474,0,4,1,1
4030,0002213184,10448,18,16,16,52
4031,000737139X,13939,0,1,0,0
4032,0000038504,10006,150,22,263,1089
4033,0007247451,13319,0,53,6,2
4034,0007288409,13597,0,1,0,3
4035,0007236832,13254,28,927,95,87
4036,0007203500,13028,0,0,0,1
4037,0007201060,13003,0,0,1,0
4038,0006476325,11620,3,1,1,2
4039,0006930506,12065,0,0,0,2

In [12]:
df['total']=df['spring_sales']+df['summer_sales']+df['fall_sales']+df['winter_sales']

In [13]:
df

,asin,productid,spring_sales,summer_sales,fall_sales,winter_sales,total
0,0002233916,10501,1,0,1,0,2
1,0002157977,10295,14,6,2,4,26
2,0006385478,11523,1,0,1,0,2
3,000638661X,11534,2,2,1,2,7
4,0006550800,11890,0,1,0,0,1
5,0007179731,12831,18,13,41,53,125
6,0007121822,12310,0,2,4,9,15
7,0006499139,11739,1,0,2,0,3
8,0007171366,12752,0,1,3,0,4
9,0007175582,12785,1,0,0,0,1
10,0007355165,13893,8,0,0,0,8
11,0007222130,13147,12,5,8,9,34
12,0007315120,13733,1,1,0,0,2
13,0007248008,13331,6,6,1,1,14
14,0007415915,14008,0,1,1,0,2
15,0002192888,10406,1,0,1,1,3
16,0007126190,12338,1,0,0,2,3
17,0006365078,11430,1,1,1,2,5
18,0005111994,11082,31,38,46,67,182
19,0006546846,11861,1,0,2,2,5
20,000736265X,13913,0,1,0,0,1
21,0006510795,11768,1,0,5,2,8
22,0006011144,11159,365,42,37,216,660
23,0007111517,12217,1,3,0,1,5
24,0007270828,13502,0,0,1,0,1
25,0007169655,12737,0,0,1,0,1
26,0006152058,11228,0,1,0,0,1
27,0006917801,12049,2,1,1,0,4
28,0005369703,11109,35,65,78,139,317
29,0007117078,12267,0,0,0,1,1
...,...,...,...,...,...,...,...
4010,0004708237,10985,32,43,31,72,178
4011,0004710010,10998,0,1,0,0,1
4012,0004709977,10997,0,1,0,1,2
4013,0007127383,12356,2,0,0,0,2
4014,0004490606,10942,269,146,196,744,1355
4015,0002559013,10734,1,0,0,2,3
4016,0007151241,12564,1,0,1,0,2
4017,0007204078,13031,3,1,0,5,9
4018,0007150911,12561,0,0,1,1,2
4019,0006170749,11268,4,1,5,2,12
4020,0001712772,10092,0,2,1,0,3
4021,0007273436,13518,0,3,0,0,3
4022,0002239221,10516,1,0,1,1,3
4023,0006512623,11782,0,1,0,0,1
4024,0002167425,10340,1,1,2,2,6
4025,0007133073,12409,0,0,0,1,1
4026,0007354282,13889,4,3,0,0,7
4027,0006574904,11920,0,0,1,0,1
4028,0006498892,11734,1,0,0,2,3
4029,0006380298,11474,0,4,1,1,6
4030,0002213184,10448,18,16,16,52,102
4031,000737139X,13939,0,1,0,0,1
4032,0000038504,10006,150,22,263,1089,1524
4033,0007247451,13319,0,53,6,2,61
4034,0007288409,13597,0,1,0,3,4
4035,0007236832,13254,28,927,95,87,1137
4036,0007203500,13028,0,0,0,1,1
4037,0007201060,13003,0,0,1,0,1
4038,0006476325,11620,3,1,1,2,7
4039,0006930506,12065,0,0,0,2,2